* {
    margin: auto;
    padding: 0;
}

html {
    margin-top: 7%;
    width: 40%;
    height: 70%;
    background-color: #40f7c9;
    background-image: linear-gradient(315deg, #63d3e2 0%, #adaedb 60%);
    border: 4px solid #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0);
    border-radius: 15px;
}

.dangnhap {
    padding-top: 40px;
    text-align: center;
    border-radius: 15px;
    padding-left: 0px;
}

.Thongtin input {
    border-radius: 3px;
    width: 300px;
    height: 20px;
    padding: 5px 40px 5px 10px;
}

.username {
    padding-top: 20px;
    position: relative;
}

.username i {
    position: absolute;
    top: 44px;
    left: 455px;
}

.username p {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding-right: 280px;
}

.password {
    padding-top: 20px;
    position: relative;
}

.password i {
    position: absolute;
    top: 44px;
    left: 455px;
}

#eye {
    padding-right: 0;
}

.password p {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding-right: 280px;
}

.inputsign {
    padding-top: 30px;
    float: left;
    margin-left: 195px;
}

.inputsign button {
    padding: 7px 80px 7px 80px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
}

.inputsign button:hover {
    background: rgb(255, 85, 85);
    contain: content;
    cursor: pointer;
}

.errorClass {
    color: rgb(255, 0, 0);
    border-radius: 3px;
    font-size: 15px;
    float: left;
    padding-left: 152px;
}

.input-error {
    border: 1px solid rgb(255, 0, 0);
}

.DangKyTK {
    float: left;
    padding-top: 40px;
    display: flex;
    font-size: 15px;
    margin-left: 195px;
}